<nav class="navbar navbar-inverse" style="background-color: blue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}" style="color: black; font-family: 'Satisfy', cursive; font-size: 25px;">Goshen</a>
      <a class="navbar-brand" href="{% url 'about' %}" style="color: black; font-family: 'Satisfy', cursive; font-size: 25px;">About Us</a>
      <a class="navbar-brand" href="" style="color: black; font-family: 'Satisfy', cursive; font-size: 25px;">Menu</a>
      <a class="navbar-brand" href="{% url 'order' %}" style="color: black; font-family: 'Satisfy', cursive; font-size: 25px;">Place an Order!</a>
    </div>
   
    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">
      <form class="navbar-form" role="search" action="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Product" name="product">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- search form end -->
  </div>
</nav